.titulo {
    text-align: center;
    color: #eee1d0;
    font-size: 70px;
    padding: 0px;
    margin: 0;
}

body {
    font-family: 'Merriweather', serif;
}

.subtitulo {
    text-align: center;
    color: #eee1d0;
    font-size: 20px;
    padding: 0px;
    margin: 0;
}


.saudacoes {
    text-align: center;
    color: #200c0c;
    font-size: 40px;
    padding: 8px;
    margin: 0;
}

.version {
    text-align: center;
    color: #200c0c;
    font-size: 25px;
    padding: 0px;
    margin: 0;
}


.cabecario {
    background-color: #200c0c;
    padding: 12px;
    margin: 0;
}


.meio {
    background-color: #eee1d0;
    padding: 12px;
    margin: 0;
    flex: 1;
}


.rodape {
    background-color: #200c0c;
    padding: 12px;
    margin: 0;
}

.rodape-texto {
    text-align: center;
    color: #eee1d0;
    font-size: 18px;
    padding: 2px;
    margin: 0;
}

.rodape-insta {
    text-align: center;
    color: #eee1d0;
    font-size: 17px;
    padding: 5px;
    margin: 0;
}

.tudo {
    font-family: 'Merriweather', serif;
    background-color: #200c0c;
    padding: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.lista-edicoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    align-items: center;
}

.edicao {
    text-decoration: none;
    color: #200c0c;
    background: white;
    padding: 15px 25px;
    border-radius: 8px;
    width: 320px;
    text-align: center;
    font-size: 22px;
    transition: 0.3s;
}

.edicao:hover {
    background-color: #200c0c;
    color: #eee1d0;
    transform: scale(1.03);
}


.gazeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.gazeta img {
    width: 90%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.voltar {
    display: inline-block;
    margin-bottom: 20px;
    color: #200c0c;
    text-decoration: none;
    font-size: 20px;
}